.nav {
  padding-left: 0;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

.nav-link {
  text-align: center;
  border-radius: 5px;
  padding: 10px 0;
  display: block;
  width: 100%;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.nav-link:hover {
  color: $fonthovercolor;
  background-color: $fontprimarycolor;
}

/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $fonthovercolor;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: #51ddfc;
}

.error {
  background-color: #e4757a;
}

.info {
  background-color: #927bc1;
}

.success {
  background-color: #63cc82;
}

.warning {
  background-color: #fd7856;
}
